@import "bootstrap";



/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;

  background-image:url('http://www.unsigneddesign.com/Seamless_background_textures/1200px/seamlesstexture2_1200.jg');
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;


}


.card {
	
	background-color: #EEE;
	height: 372px;
	width: 212px;
	border-radius:15px;

	margin:20px;



}

